body{
    background:linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,3)), url('https://images.paramount.tech/uri/mgid:arc:imageassetref:ws.mtv.com:3c5aee49-8ca8-463b-bc4b-9354c10e7dd5?quality=0.7&gen=ntrn&format=webp&width=1200');

    background-size:cover;
}

.topContainer{
    border: 1px solid rgb(39, 37, 37);
    height: 45px;
    display: flex;
}

.logoContainer{
    padding: 11px;
}

.navbar{
    width: 95%;
    display: flex;
}

.menuInput{
    color: rgb(146, 143, 143);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    background: none;
    border: none;
    padding: 11px;
    font-size: 15px;
}

.menuInput:hover{
    color: white;
}

.tryBtn{
    margin-top: 5px;
    padding: 2px 18px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 6px;
    font-size: 15px;
    border: none;
    margin-left: auto;
}

.tryBtn:hover {
   background-color: skyblue; 
}

.texts{
    border: solid 1px rgb(28, 28, 27);
    width: 70%;
    color: white;
    margin: 270px 0 0 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.big-text{
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black; 
}

.med-text{
    font-size: 18px;
    margin-top: -30px;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}

.smal-text{
    font-size: 17px;
    margin-top: -10px;
    text-shadow: 5px 5px 5px black;
}

.date-text{
    font-size: 14px;
    font-weight: bold;
}

.button{
    border: solid 1px rgb(43, 43, 41);
    width: 25%;
    margin-left: 20px;
    margin-top: 30px;
}

.watch-now-btn{
    padding: 10px 16px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: yellow;
    border-radius: 7px;
    font-size: 18px;
    border: none;
    margin: 5px;
}

.watch-now-btn:hover {
    background-color: skyblue;
}

.how-to-watch-btn{
    padding: 10px 16px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(82, 80, 80);
    border-radius: 7px;
    color: white; 
    font-size: 18px;
    border: none;
}

.how-to-watch-btn:hover{
    background-color: white;
    color: black;
}

.how-tab:hover{
    color: white;
}

.episode-text{
    border: solid 1px rgb(37, 35, 35);
    height: 30px;
    width: 10%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 25px;
}

.episodeInfo {
    border: solid 1px rgb(33, 33, 31);
    margin: 10px;
    display: flex;
    justify-content: center;
}

.episode {
    border: solid rgb(36, 36, 40);
    margin-top: 20px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
}

.episode:hover {
    border-color: yellow;
}